# Numerous always-ignore extensions
*.csv
*.dat
*.diff
*.err
*.gz
*.log
*.orig
*.out
*.pid
*.rej
*.sass-cache
*.seed
*.swo
*.swp
*.vi
*.zip
*~


# OS or Editor folders
._*
.cache
.direnv
.DS_Store
.esproj
.nvmrc
.project
.settings
.sublime-project
.sublime-workspace
.tmproj
nbproject
Thumbs.db


# Folders to ignore
.CVS
.grunt
.hg
.idea
.ssh
.svn
lcov.info
lib-cov
logs
node_modules
pids
results
vendor

